/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/* Navbar Styles */
.navbar {
  background-color: #333;
  padding: 1rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}


.navbar-links a:hover {
  text-decoration: underline;
}

/* Hero Section Styles */
.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 3rem); /* Adjust height to account for navbar */
  overflow: hidden;
  color: white;
  margin-top: 3rem; /* Adjust to match navbar height */
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero p {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: rgb(56, 5, 21);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-top: 30px;
}

.hero button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  font-size: 1.2rem;
  background-color: #ff6600;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

.hero button:hover {
  background-color: #ff4500;
}
p{
  margin-top: 60px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.2rem;
  }

  .hero button {
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero button {
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }
  .para{
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .hero button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }

  .para{
    margin-top: 20px;
  }
}
@media (max-width: 430px) {
  .hero h1 {
    font-size: 1.75rem;
    margin-top: -20px;
  }

  .para{
    margin-top: 40px;
  }
}
@media (max-width: 370px) {
  .hero h1 {
    font-size: 1.75rem;
    margin-top: -20px;
  }

  .para{
    margin-top: 40px;
  }
}