.services {
    padding: 50px 20px;
    text-align: center;
}

.services .container {
    max-width: 1200px;
    margin: 0 auto;
}

.services h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.service-card {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ddd;
    flex: 1 1 300px;
    text-align: center;
    border-radius: 8px;
}

.service-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 1.1em;
}

.service_img {
    height:350px;
    width: 100%;
    max-width: 450px;
    border-radius: 5%;

}

/* Responsive styles */
@media (max-width: 768px) {
    .services h1 {
        font-size: 2em;
    }

    .service-card {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }

    .service-card h2 {
        font-size: 1.3em;
    }

    .service-card p {
        font-size: 1em;
    }

    .service_img {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .services h1 {
        font-size: 1.5em;
    }

    .service-card h2 {
        font-size: 1.2em;
    }

    .service-card p {
        font-size: 0.9em;
    }

    .service_img {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .services h1 {
        font-size: 1.3em;
    }

    .service-card h2 {
        font-size: 1.1em;
    }

    .service-card p {
        font-size: 0.85em;
    }

    .service_img {
        height: auto;
        width: 100%;
    }
}

@media (max-width: 230px) {
    .services h1 {
        font-size: 1em;
    }

    .service-card h2 {
        font-size: 1em;
    }

    .service-card p {
        font-size: 0.75em;
    }

    .service_img {
        height: auto;
        width: 100%;
    }
}
