* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  .footer {
    width: 100%;
    background: #000101;
    color: #fff;
    margin-top: 130px;
    margin-bottom: 500px;
    padding: 20px;
    margin-top: auto;
    flex: 1;
    margin-bottom: 0px;
    margin-top: 150px;
  }
  
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
  .footer-col {
    flex: 1;
    min-width: 250px;
    margin: 20px 0;
  }
  
  .footer-col h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .footer-col .links {
    list-style: none;
    padding: 0;
  }
  
  .footer-col .links li {
    margin-bottom: 10px;
  }
  
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
    transition: color 0.3s;
  }
  
  .footer-col .links li a:hover {
    color: #fff;
  }
  
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
  }
  
  .footer-col iframe {
    border: none;
    width: 100%;
    max-width: 350px;
    height: 200px;
    border-radius: 6px;
    margin: 20px 0;
  }
  
  .icons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
  }
  
  .icons i {
    color: #afb6c7;
    transition: color 0.3s;
    cursor: pointer;
  }
  
  .icons i:hover {
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .footer {
      text-align: center;
      padding: 20px;
    }
  
    .footer-row {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-col {
      min-width: 100%;
    }
  
    .footer-col iframe {
      height: 250px;
    }
  }
  
  @media (max-width: 480px) {
    .footer-col h4 {
      font-size: 1.2rem;
    }
  
    .footer-col iframe {
      height: 200px;
    }
  }
  